/buildx-metadata.txt
/buildx-image-id.txt

/sshset-data/host-keys/
/sshset-data/users/*/authorized-keys/
/sshset-data/authorized-keys/
/sshset-data-*/host-keys/
/sshset-data-*/users/*/authorized-keys/
/sshset-data-*/authorized-keys/
