---
services:
  main:
    image: docker.io/dmotte/svcbox:latest
    build: build
    restart: always
    hostname: svcbox
    ports: ["2222:22"]
    volumes:
      - ssh-host-keys:/ssh-host-keys
      - ./ssh-client-keys:/ssh-client-keys
    environment:
      MAINUSER_NOPASSWORD: "true"

volumes:
  ssh-host-keys: {}
